body{
    
}

/* Menu */

.inicial{
    float: right;
}

.nav-side-menu {
  overflow: auto;
  font-family: verdana;
  font-size: 12px;
  font-weight: 200;
  background-color: #2e353d;
  position: fixed;
  top: 0px;
  padding-left: 0px;
  height: 100%;
  width: 17%;
  color: yellow;
}

.nav-side-menu .brand {
  background-color: #23282e;
  line-height: 50px;
  display: block;
  text-align: center;
  font-size: 14px;
}
.nav-side-menu .toggle-btn {
  display: none;
}
.nav-side-menu ul,
.nav-side-menu li {
  list-style: none;
  padding: 0px;
  margin: 0px;
  line-height: 35px;
  cursor: pointer;
}

.nav-side-menu ul .active,
.nav-side-menu li .active {
  border-left: 3px solid #d19b3d;
  background-color: #4f5b69;
}
.nav-side-menu li a {
  text-decoration: none;
  color: yellow;
}
.nav-side-menu li a i {
  padding-left: 10px;
  width: 20px;
  padding-right: 20px;
}
.nav-side-menu li:hover {
  border-left: 3px solid #d19b3d;
  background-color: #4f5b69;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
}
@media (max-width: 767px) {
  .nav-side-menu {
    position: relative;
    width: 100%;
    margin-bottom: 10px;
  }
  .nav-side-menu .toggle-btn {
    display: block;
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 10 !important;
    padding: 3px;
    background-color: #ffffff;
    color: #000;
    width: 40px;
    text-align: center;
  }
  .brand {
    text-align: left !important;
    font-size: 22px;
    padding-left: 20px;
    line-height: 50px !important;
  }
}
@media (min-width: 767px) {
  .nav-side-menu .menu-list .menu-content {
    display: block;
  }
}
body {
  margin: 0px;
  padding: 0px;
}

.posiMenu{
    margin-left: 17%;
    background-color: #23282e;
}


/* Fim */

/* Tela para cadastro e login de usuarios  */
.logo{
    height: 200px;
    padding-top: 5%;
    margin-left: 46%;
}

#logoCad{
    width: 100%;
    padding-top: 2%;
    margin-left: 46%;
}

#logoCad{width: 8%;}

.panel{
    width: 30%;
    margin: 0 auto;
}

.panel-heading{
    text-align: center;
    size: 10px;
}

.btn{
    margin-left: 35%;
    width: 30%;    
}

p{font-size: 12px;}

#recupSenha{float: right;}

#cadasUsu{text-align: center;}

.footer-copyright{font-size: 10px;}

.footer-posi{margin-left: 46%;}

.esconder{
    display: none;
}
.alunProf{
    display: inline !important;
}
/* Fim */

#perfilUsuario {
    font-family: Arial, Helvetica, sans-serif;
    width: 80px;
    height: 80px;
    background: -91px 0;
    margin-left: 0%;
}

label, input{
    display: block;
}


.corpo {
    font-family: Arial, Helvetica, sans-serif;
    /* height: 600px; */
    padding-top: 5%;
    margin-left: 25%;
}
.panel-perfilComum{
    margin-top: 3%;
    margin-left: 25%;
    width: 70%;
    height: 550px;

}

.conteudo {
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 200px;
    margin-top: 2px;
    display: table;

}
.imagemUsuario {
    display: table-cell;
    float: left;
}
.dados {
    display: table-cell;
    float: left;
    width: 300px; 
    margin-top: 10 px;
    margin-left: 20px; 
}
.tornarMonitor{
    font-family: Arial, Helvetica, sans-serif;
    display: table-cell;
    float: left; 
    margin-top: 10 px;
    margin-left: -10px; 
}
.solicitar{
    font-size: 10px;
    margin-left: 51%;
}
.btn-perfilcomum{
    width: 85%;
    margin-left: 30%;
}
.btn-monitor{
    width: 50%;
    margin-left: 20%;
}
.Nome{
    font-family: Arial, Helvetica, sans-serif;
    display: inline !important;  
}
.Email{
    font-family: Arial, Helvetica, sans-serif;
    display: inline !important;  
}
.codigo{
    font-family: Arial, Helvetica, sans-serif;
    display: inline !important;  
}

.blocktext {
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 25%;
    margin-right: auto; 
    width: 6em; 
}

.h3{text-align: center;}

/* Inicio monitoriasUsuarios  */ 

#alinharDireita{
    padding-left: 200px;
}
#alinharInput1{
    padding-left: 110px;
}
#alinharInput2{
    padding-left: 80px;
}
#alinharInput3{
    padding-left: 195px;
}
#alinharInput4{
    padding-left: 99px;
}

#alinharInput5{
    padding-left: 129px;
}

#alinharInput6{
    padding-left: 537px;
}

#alinharInput7{
    box-sizing: border-box;
    padding-left: 113px;
}

#alinharInput8{
    box-sizing: border-box;
    padding-left: 200px;
}

#alinharInput9{
    box-sizing: border-box;
    padding-left: 215px;
}

.materia{
    
    text-align: center;
    display: block;
    width: 400px;

}

#alinhar{
    display: block;
    padding-left: 275px;
}

.descri{
    padding-left: 200px;
}

.espeMU{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight:bold;
    
}

.inputDados1{
    display: inline-block;
    width: 400px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight:bold;
}

.inputDados2{
    display: inline !important;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight:bold;
    
}

.inputDados3{
    display: inline !important;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight:bold;
    width: 400px;
}





/* Fim monitoriasUsuarios*/




/* Comeco encontrarMonitorias */

.encontrar{
    
 
    text-align: center;
    display: block;
    width: 400px;


}

#alinharTabela{
  padding-left: 175px;
}

#recemCadastradas{
    padding-left: 175px;
    width: 40%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight:bold;

}

table.bordas {
    border-collapse: collapse; /* CSS2 */
    background: #FFFFF0;
    font-size: 14px;
    
}
 
table.bordas td {
    border: 1px solid black;
    padding: 10px;
}
 
table.bordas th {
    border: 1px solid black;
    background: rgb(211, 218, 211);
    padding: 10px;
}


/* Fim encontrarMonitorias */

.Salalocal{
    display: inline !important;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight:bold;
}
/* .tamMin{width: 10%;} */
.cadMonitorias{
    margin-left: auto;
}
.Datetime{
    display: inline !important;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}
.DisciplinaCont{
    display: inline !important;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight:bold;
}
.Numero{
    display: inline !important; 
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}
textarea{
    
}
.tudo{
    height: 200px;
    padding-top: 5%;
    margin-left: 15%;
}
.panel-monitorias{
    width: 60%;
    height: 500px;
}
.Titulo{
    text-align: center;
    margin-top: 7%;
}
.Titulocad ,.TituloUM{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
}
.TituloUM{
    margin-left: 80%;
}
.Arquivos{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}
.Descricao{
    Display: block;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}
.NomepUM{
    display: inline !important;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight:bold;
}
.E-mailpUM{
    display: inline !important;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight:bold;
}
.btnlado{
    margin-top: 20%;
    margin-left: 7%;
    width: 25%;
}
.botõesLado{
    display: inline !important;
    margin-top:-2%;
}
.container-conteudo{
    padding-top: 30%;
}
.Avaliacoes {
    margin-left: 0%;
    width: 40%;
    margin-top: -2%
}
.tituloAvaliacoes{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight:bold;

}


.Status{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight:bold;
}
.tMonitorias{
    margin-left:60%;
    width: 40%;
    margin-top: -21%; 
}
.btn-minhasMonitorias{
    width: 15%;
    margin-left: 80%;
}
.tituloMonitorias{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight:bold;
}
.tComentário{
    margin-left:40%;
    width: 40%;
    margin-top: 3%; 

}
.tituloComentários{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight:bold;

}
.estrelas input[type=radio] {
    display: none;
  }
  .estrelas label i.fa:before {
    content:'\f005';
    color: #FC0;
  }
  .estrelas input[type=radio]:checked ~ label i.fa:before {
    color: #CCC;
  }
  .linha-vertical {
    height: 200px;
    border-left: 1px solid;
    margin-top: -18% ;
    margin-left: 45%;
  }
.botõesAbaixo{
    margin-top: 15%;
}
.Forum{
    max-width: 500 !important;
    margin: auto;
    margin-top:7%;
    margin-left: 40%;
    margin-right: 10%;

    font-family:sans-serif;
    letter-spacing: 0.5px;    
}
img{
    max-width: 100%; 
    /* border-radius:50%; */
}
.msg-header
{
    border:2px solid #ccc;
    width: 100%;
    height: 10%;
    border-bottom: none;
    display: inline-block;
    background-color: #007bff;
}
.msg-header-img{
    border-radius:24%;
    width:5px;
    margin-left: 5%;
    margin-top: 10px;
    float: left;
}
.active
{
    width:120px;
    float:left;
    margin-top:10px;
}
.active h4{
    font-size: 20px;
    margin-left: 20px;
    color: #fff;
}
.active h6{
    font-size:10px;
    margin-left: 10px;
    line-height: 2px;
    color: #fff;
}
*{
    margin: 0;
    padding: 0;
    font-family: tahoma ,sans-serif;
    box-sizing: border-box;
}
.Hi{
    background: #808080;
}
.chatbox{
    width: 1200px;
    min-width: 400px;
    height: 600px;
    background: #fff;
    padding: 25px;
    margin: 20px auto;
    margin-left: 30%;
    margin-top:1%;
    box-shadow: 0 3px #ccc;  
    border-radius:5px;
}
.chatlogs{
    padding: 10px;
    width: 100%;
    height:450px;
    overflow-x: hidden;
    overflow-y: scroll;
    background: #CCC ;
}
.chatlogs::-webkit-scrollbar{
    width: 10px;
}
.chatlogs::-webkit-scrollbar-thumb{
    border-radius: 5px;
    background: rgba(0,0,0,.1);
}

.chat{
    display:flex;
    flex-flow: row wrap;
    align-items: flex-start;
    margin-bottom: 10px;
}
.chat .user-photo{
    width: 60px;
    height: 60px;
    background: #4f5b69;
    border-radius: 50%;
}
.chat .chat-message{
    width: 90%;
    padding: 15px;
    margin: 5px 10px 0;
    border-radius:10px;
    color: #fff;
    font-size: 20px;
}
.friend .chat-message{
    background: #1adda4;  
}
.self .chat-message{
    background: #1ddced;
    order: -1;
}

.chat-form{
    margin-top: 20px;
    display: flex;
    align-items: flex-start;
}

.chat-form textarea{
    background: #fbfbfb;
    width:90%;
    height: 50px ;
    border: 2px solid #eee;
    border-radius: 3px;
    resize: none;
    padding:10 px;
    font-size: 18px;
    color: #808080;
}
.chat-form textarea:focus {
    background: #fff;
}
.chat-form textarea::-webkit-scrollbar{
    width: 10px;
}
.chat-form textarea::-webkit-scrollbar-thumb{
    border-radius: 5px;
    background: rgba(0,0,0,.1);
}



.chat-form button{
    background: #1ddced;
    padding: 5px 15px;
    font-size: 30px;
    color: #fff;
    border:none;
    margin: 0 10px;
    border-radius: 3px;
    box-shadow: 0 3px 0 #ceb2c1;

    -webkit-transition: .2s ease;
    -moz-transition: .2s ease;
    -o-transition: .2s ease;

}

.chat-form button:hover{
    background: #13c8d9;
}
.Informacoes{
    width: 1200px;
    min-width: 400px;
    height: 130px;
    background: #fff;
    padding: 25px;
    margin: 20px auto;
    margin-left: 30%;
    margin-top:5%;
    box-shadow: 0 3px #ccc;  
    border-radius:5px;
}
.formatoInformacoes{
    Display: block;
    font-size: 15px;
}
.Informacoes-privado{
    width: 1200px;
    min-width: 400px;
    height: 130px;
    background: #fff;
    padding: 25px;
    margin: 20px auto;
    margin-left: 30%;
    margin-top:5%;
    box-shadow: 0 3px #ccc;  
    border-radius:5px;
}
.bordaUsuarioMonitor{
    border-radius: 80px #80808080;

}
.corpo-foruns{
    font-family: Arial, Helvetica, sans-serif;

    height: 600px;
    padding-top: 5%;
    margin-left: 25%;
}
.Tituloforum{
    margin-left: 25%;
}
.nomeMonitoria{
    margin-left:10%;
    font-size: 20px;
}
.Utilizados{
    margin-left:13%;
    font-size:15px;   
}
.borda{

    box-shadow: 1px 1px #ccc;  
    border-radius: 4px;
    

}



/*Solicitar Licenca*/
.Curso {
    font-family: Arial, Helvetica, sans-serif;
    display: inline !important;
}
.Serie {
    font-family: Arial, Helvetica, sans-serif;
    display: inline !important;
}
.Disciplina {
    font-family: Arial, Helvetica, sans-serif;
    display: inline !important;
}
.Pergunta{
    font-family: Arial, Helvetica, sans-serif;
    font-weight:normal;
}

.btn{
    font-family: Arial, Helvetica, sans-serif; 
    font-weight: bold;

}
.corpo1 {
    font-family: Arial, Helvetica, sans-serif;
    /*font-weight:bold;*/
    height: 500px;
    padding-top: 2%;
    margin-left: 40%;
    margin-right: 40%; 
    background: #ffffff; 
}
.TituloUM{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight:bold;

}
.Pergunta {
    font-family: Arial, Helvetica, sans-serif;
    font-weight:bold;
}
/*FÓRUM PUBLICO E PROVADO - OPÇÕES*/
.linha-vertical2 {
    height: 80px;
    border-left: 1px solid;
    margin-top: 2% ;
    margin-left: 35%;
    
}
.aaa{
    height: 80px;
    margin-top: -20% ;
    margin-right: -38%;
    margin-left: 36%;
}

/*MEUS FÓRUNS*/
.DadosF{
    margin-top: 2%;
    margin-left: 2%; 
}
.Membros, .Date {
    margin-left: 4%; 
    display: inline ;
}
.Bobao{
    margin-top: -4%; 
    margin-left: 83%;
}
.btnMf1{
    height: 25px;
    weight: 40px;
    
}
.TituloO{
    margin-top: 4%;
}
.buttonF {
    margin-top: 200;
}

/*avaliação monitorias*/
.corpo3 {
    font-family: Arial, Helvetica, sans-serif;
    height: 600px;
    padding-top: 2%;
    margin-left: 20%;
    
}
.dados3{
    font-weight:bold;
    padding-top: 2%;
    margin-left: -10%;
}
.Avalie, .Coment{
    font-weight:bold;
    margin-left: -2%;
}

