body{
    background: #ffffff;
}
/* Tela para cadastro e login de usuarios  */
.logo{
    height: 200px;
    padding-top: 5%;
    margin-left: 46%;
}

#logoCad{
    width: 100%;
    padding-top: 2%;
    margin-left: 46%;
}

#logoCad{width: 8%;}

.panel{
    width: 30%;
    margin: 0 auto;
}

.panel-heading{
    text-align: center;
    size: 10px;
}

.btn{
    margin-left: 35%;
    width: 30%;    
}

p{font-size: 12px;}

#recupSenha{float: right;}

#cadasUsu{text-align: center;}

.footer-copyright{font-size: 10px;}

.footer-posi{margin-left: 46%;}

.esconder{
    display: none;
}
/* Fim */

#perfilUsuario {
    font-family: Arial, Helvetica, sans-serif;
    width: 80px;
    height: 80px;
    background: -91px 0;
    
}

label, input{
    display: block;
}


.corpo {
    font-family: Arial, Helvetica, sans-serif;
        height: 600px;
        padding-top: 5%;
        margin-left: 40%;
}

.conteudo {
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 200px;
    margin-top: 2px;
    display: table;

}
.imagemUsuario {
    display: table-cell;
    float: left;
}
.dados {
    display: table-cell;
    float: left;
    width: 300px; 
    margin-top: 10 px;
    margin-left: 20px; 
}
.tornarMonitor{
    font-family: Arial, Helvetica, sans-serif;
    display: table-cell;
    float: left; 
    margin-top: 10 px;
    margin-left: -10px; 
}
.Nome{
    font-family: Arial, Helvetica, sans-serif;
    display: inline !important;  
}
.Email{
    font-family: Arial, Helvetica, sans-serif;
    display: inline !important;  
}
.codigo{
    font-family: Arial, Helvetica, sans-serif;
    display: inline !important;  
}

P.blocktext {
    font-family: Arial, Helvetica, sans-serif;
    margin-left: auto;
    margin-right: auto;
    width: 6em; 
}

/* Inicio monitoriasUsuarios  */ 

#BarraLateral{
    position: relative;
    float: left;
    width: 300px;
    padding: 1px;
}

#logoL{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.Salalocal{
    display: inline !important;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight:bold;
}
.Datetime{
    display: inline !important;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight:bold;
}
.DisciplinaCont{
    display: inline !important;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight:bold;
}
.Numero{
    display: inline !important; 
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight:bold;  
}
textarea{
    vertical-align: 5em; 
    height: 5em;
    resize: horizontal;
}
.tudo{
    height: 200px;
    padding-top: 5%;
    margin-left: 46%;
}
.Titulocad ,.TituloUM{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
}
.Arquivos{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight:bold;
}
.Descrição{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight:bold;
}
.NomepUM{
    display: inline !important;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight:bold;
}
.E-mailpUM{
    display: inline !important;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight:bold;
}
.btnlado{
    margin-left: 60%;
    width: 30%;
}
.dados {
    display: table-cell;
    float: left;
    width: 300px; 
    margin-top: 10 px;
    margin-left: 20px; 
}


/*Solicitar Licenca*/
.Curso {
    font-family: Arial, Helvetica, sans-serif;
    display: inline !important;
}
.Serie {
    font-family: Arial, Helvetica, sans-serif;
    display: inline !important;
}
.Disciplina {
    font-family: Arial, Helvetica, sans-serif;
    display: inline !important;
}
.Pergunta{
    font-family: Arial, Helvetica, sans-serif;
    font-weight:normal;
}