h2{
    text-align: center;
    padding-top: 8%;
}

.panel{
    width: 30%;
    margin: 0 auto;
}

.panel-heading{
    text-align: center;
    size: 10px;
}

.btn{
    margin-left: 35%;
    width: 30%;    
}

p{font-size: 12px;}

#recupSenha{float: right;}

#cadasUsu{text-align: center;}