<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Monitorando</title>
    <link rel="stylesheet" type="text/css" media="screen" href="css/main.css" />
    <script src="js/main.js"></script>
</head>
<body>
    <div class="bordaUsuarioMonitor">
        <div class="nav-side-menu">
            <div class="brand">Monitorando</div>
            <i class="fa fa-bars fa-2x toggle-btn" data-toggle="collapse" data-target="#menu-content"></i>

            <div class="menu-list">

                <ul id="menu-content" class="menu-content collapse out">
                    <li class="active">
                        <a href="#">
                            <i class="fas fa-lg"></i>
                            <span class="glyphicon glyphicon-home"></span> Início
                        </a>
                    </li>
                    <br>

                    <li data-toggle="collapse" data-target="#products" class="collapsed">
                        <a href="#">
                            <a href="#">
                                <i class="fas fa-lg"></i>
                                <span class="glyphicon glyphicon-user"></span> Perfil
                            </a>
                        </a>
                    </li>

                    <li data-toggle="collapse" data-target="#service" class="collapsed">
                        <a href="#">
                            <i class="fab fa-lg"></i>
                            <span class="glyphicon glyphicon-book"></span> Monitorias inscritas
                        </a>
                    </li>

                    <li data-toggle="collapse" data-target="#new" class="collapsed">
                        <a href="#">
                            <i class="fab fa-lg"></i>
                            <span class="glyphicon glyphicon-list-alt"></span> Monitorias cadastradas
                        </a>
                    </li>

                    <li>
                        <a href="#">
                            <i class="fa fa-lg"></i>
                            <span class="glyphicon glyphicon-comment"></span> Chat de dúvidas
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div>
        <nav class="navbar-inverse posiMenu">
            <div class="container-fluid">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="#">
                            <span class="glyphicon glyphicon-log-out"></span> Sair</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
    {{{body}}}
</body>
</html>