<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <header>
        <a href="/">Home</a>
        <a href="/servico">Serviços</a>
        <a href="/contato">Entre em contato</a>
    </header>
{{{body}}}
    <footer>
        <p>Exemplo Handlebras - 2019</p>
    </footer>
</body>
</html>