<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Monitorando &bull; Cadastro de Monitoria </title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="../public/css/main.css" />
    <script src="../public/js/index.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
</head>

<body onload="foco('local')">
    <div class="tudo">
        <div class="panel-monitorias panel panel-default">
            <form method="post" action="" id="FrmMonitorias" autocomplete="off">

                <div class="Titulof">
                    <h3>Cadastre sua monitoria:</h3>
                    <br>
                </div>

                <div class="form-row">
                   
                    <div class="form-group col-md-6">
                        <label class="DisciplinaCont" for="Disciplina:">Disciplina:</label>
                        <input class="DisciplinaCont form-control" type="text">
                    </div>
                    <div class="form-group col-md-6">
                        <label class="DisciplinaCont" for="">Conteúdo</label>
                        <input class="DisciplinaCont form-control" type="text">
                    </div>
                </div>

                <div class="form-group col-md-4">
                    <label class="Datetime" for="Data e Horário:">Data e Horário:</label>
                    <input class="form-control" type="date">
                </div>
                <div class="form-group col-md-2">
                    <label></label>
                    <input class="form-control" type="time">
                </div>

                <div class="form-group col-md-6">
                        <label class="Numero" for="N° de vagas:">N° de vagas:</label>
                        <input class="Numero form-control" type="number">
                </div>

                <div class="form-group col-md-2">
                        <label class="Salalocal" for="Sala/Local:">Local:</label>
                        <div>
                            <select class="form-control sel1" id="sel1">
                              <option>Bloco A</option>
                              <option>Bloco C</option>
                              <option>Bloco D</option>
                              <option>Bloco E</option>
                              <option>Bloco F</option>
                            </select> 
                        </div>     
                    </div>
                    <div class="form-group col-md-2">
                        <label></label>
                            <div>
                                <select class="form-control sel1" id="sel1">
                                  <option>Laboratório</option>
                                  <option>Sala</option>
                            </select> 
                        </div>     
                    </div>
                    <div class="form-group col-md-2">
                            <label>Identificação:</label>
                            <input class="DisciplinaCont form-control" type="text">   
                    </div>
              
                <div class="form-group col-md-6">
                    <label class="Arquivos" for="Arquivos:">Arquivos:</label>
                    <input class="Arquivos" type="file">
                </div>

                <div class="form-group col-md-12">
                        <label for="aluProf">Criar chat: </label>
                        <input type="radio" class="alunProf" name="sim" value="aluno" >Sim
                        <label></label>
                        <input type="radio" class="alunProf" name="nao" value="prof" > Não
                    </div>
                <div class="form-group col-md-6">
                    <label class="Descrição" for="Descrição:">Descrição:</label>
                    <textarea class="Descrição form-control localtextof" id="msg">Descreva um pouco sobre sua monitoria...</textarea>
                </div>
                <div class="">
                    <button class="btn-success btn">Cadastrar</button>
                </div>
            </form>
        </div>

    </div>
</html>

