<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Monitorando &bull;Solicitar Licença</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="../public/css/main.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
</head>

<body onload="foco('local')">
    <div class="panel panel-default panel-perfilComum">
            <section class="corpo">
                <form method="post" action="" id="FrmLicenca" autocomplete="off">
                    <P class="blocktext">
                            <h1>Solicitar Licença</h1>
                    </P>
                    <br> </br>
                    <div class= "form-group">
                        <label  class= "Pergunta" for="Pergunta">Por que quer tornar-se monitor?</label>
                    </div>
                    <div>
                        <textarea id= "msg" class="from-control localtexto"></textarea>
                    </div>
                    <div class= "form-group">
                            <button class="btn">Solicitar</button>
                    </div>
                </form>
            </section>
        </div>

</html>